{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "master"
        }
    },
    "mutators": {
        "@default": true,
        "DecrementInteger": {
            "ignore": [
                "Yiisoft\\Mailer\\View\\MessageBodyRenderer::generateTextBodyFromHtml"
            ]
        }
    },
    "minMsi": 100
}
